.about{
    margin:4% auto;
    text-align:center;
    background:#fff;
    width:94%;
    height:100%;
}
.about .logo{
    width:25%;
    margin:5% auto 0;
}
.about h1{
    font-size:1.3em;
    color:#930e0e;
    padding:3% 0 1.5%;
}
.about p{
    font-size:1em;
    color:#777;
    text-indent:7%;
    text-align:left;
    margin:1% 2.5%;
}
i.icoabout{
    color:#00DFAC;
    font-size:2.4em;
}
.suggesttips p{
    font-size:1em;
    padding:4% 6% 0%;
}
.suggesttips p:first-child{
    margin-bottom:-2%;
}