/*header {
    height: 50px;
    background: #930e0e;
    position: relative;
    z-index: 10;
    margin:-1.5% auto 0;
}

.header_left{
    left: 4%;
    position: absolute;
    top:23%;

}
.header_right{
    right: 4%;
    position: absolute;
    top:23%;
}
.header h1 {
    color: #fff;
    font-size: 1.5em;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
}*/
