	body, input, select, textarea {
		font-size: 12pt;
	}
	header p{
		text-align: right!important;
		font-size: 1em!important;
	    line-height: 1.25em!important;
	}
	header p span {
		display: inline-block;
	}