.btn{
  font-size: 1.2em;
  color: #fff;
  border-radius:6px;
}
.btn1{
  background: #02ACFF;
  float:left;
  padding:4% 11%;
  margin:12% 0 0 -18%;

}
.btn2{
  background: #D5C400;
  float:right;
  padding:4% 11%;
  margin:12% -18% 0 0;
}
.btn3{
  background:rgba(11, 247, 217, 0.77);
  padding:4% 50%;
  margin:8% 0 0 -10%;
}
.btn3_1{
  background:rgba(11, 247, 217, 0.77);
  padding: 4% 38%;
  margin: 26% 0 0 -42%;
  position: absolute;
}
