html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright {margin: 3% auto 9%;
font-size: 0.9em;
color: #3F3F3F;
text-align: center;}
.copyright a { color:#666; }
h2 { font-size:16px; }
body {background-color:#eee;min-height:600px;}
.mainmenu{margin:0 auto 0;display:block;}

body .mainmenu:after { clear: both; content: " "; display: block; }

body .mainmenu li{ float:left;margin-left: 2.5%;
margin-top: 2.5%;
width: 30%;  border-radius:3px; overflow:hidden;}

body .mainmenu li a{ display:block;  color:#FFF;   text-align:center }
body .mainmenu li a b{ display:block; height:80px;}
body .mainmenu li a img{ margin: 15px auto 15px;
width: 50px;
height: 50px;}
body .mainmenu li a span{ display:block; height:30px; line-height:30px;background-color:#FFF; color: #999; font-size:14px; }

body .mainmenu li:nth-child(8n+1) {background-color:#36A1DB}
body .mainmenu li:nth-child(8n+2) {background-color:#678ce1}
body .mainmenu li:nth-child(8n+3) {background-color:#8c67df}
body .mainmenu li:nth-child(8n+4) {background-color:#84d018}
body .mainmenu li:nth-child(8n+5) {background-color:#14c760}
body .mainmenu li:nth-child(8n+6) {background-color:#f3b613}
body .mainmenu li:nth-child(8n+7) {background-color:#ff8a4a}
body .mainmenu li:nth-child(8n+8) {background-color:#fc5366}
/*nav{
	display: table;
}
nav ul{
	display: table-row;
}
nav ul li{
	display: table-cell;
}
nav ul li:last-child{
	text-align:right;
}
nav ul li:first-child{
	text-align:left;
}*/
.top_bar{position:fixed;z-index:900;bottom:0;left:0;right:0;margin:auto;font-family:Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif;}
.top_menu{display:-webkit-box;border-top:1px solid #b3b3b3;display:block;width:100%;background:rgba(255, 255, 255, 0.7);height:40px;display:-webkit-box;display:box;margin:0;padding:0;-webkit-box-orient:horizontal;background:-webkit-gradient(linear, 0 0, 0 100%, from(#e7e4e7), to(#b9b9b9));}
.top_menu li{-webkit-box-flex:1;background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));-webkit-background-size:1px 100%, 1px 100%;background-size:1px 100%, 1px 100%;background-position:1px center, 2px center;background-repeat:no-repeat;position:relative;text-align:center;display:inline-block;width:25%;float:left;}
.top_menu li a label{padding:3px 0 0 3px;font-size:12px;overflow:hidden;}
.top_menu li a{height:40px;line-height:40px;display:block;text-align:center;color:#4f4d4f;text-shadow:0 1px rgba(255, 255, 255, 0.3);text-decoration:none;border-top:1px solid #f9f9f9;-webkit-box-flex:1;}
.top_menu li a p{overflow:hidden;margin:0 0 0 0;font-size:12px;display:block!important;line-height:18px;text-align:center;}
.top_menu li a img{padding:0;height:20px;width:20px;color:#fff;line-height:40px;vertical-align:middle;}
.top_menu li a:hover,.top_menu li a:active{background-color:#CCCCCC;}
