* body{
	width: 100%;
	margin:0;
	padding:0;
	background:url(../images/bg.jpg) no-repeat 0 0;
	background-size:cover;
	height:100%;

}
.jiathis_default_pos{
  margin-top:20%;
}
div.mapid{
text-align: center;
  color: #00FFEC;
  text-shadow: 1px 1px 2px #000;
  text-decoration: none;
  margin-top: 3%;
  font-weight: 600;
  font-size: 1em;

}
footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #333;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer a {
  display: block;
  width: 20%;
  height: 40px;
  float: left;
  background: no-repeat center;
  background-size: auto 28px;
}

footer a#back {
  background-image: url(../images/back.png);
}

footer a#sms {
  background-image: url(../images/plugmenu8.png);
}

footer a#tel {
  background-image: url(../images/plugmenu1.png);
}

footer a#map {
  background-image: url(../images/plugmenu3.png);
}
footer a#user {
  background-image: url(../images/plugmenu6.png);
}